body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.adress {
  font-style: normal;
}

/* ----------------common------------- */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

/* -------------header-------------- */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.contacts {
  display: none;
}

.menu-btn {
  padding: 0;
  background-color: transparent;
  border: none;
}

.menu-icon {
  display: block;
  fill: #2f2f37;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-part {
  color: #2e2f42;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    position: relative;
  }

  .nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: #404bbf;
  }

  .contacts {
    font-style: normal;
    display: block;
  }

  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link:hover,
  .nav-link:focus,
  .nav-link.current {
    color: #404bbf;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* --------------mobile menu------------ */

/*---------------section 1------------ */

.page-title {
  background-color: #2e2f42;
  padding: 72px 0;
  margin: 0 auto;

  max-width: 320px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2x) {
  .page-title {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-mob-@2x.jpg);
  }
}

.page-title-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin: 0 auto;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  display: block;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  padding: 0;
  min-width: 169px;
  margin-top: 72px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .page-title {
    padding: 112px 0;
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tablet-1x.jpg);
  }

  @media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2x) {
    .page-title {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tablet-@2x.jpg);
    }
  }
}

.page-title-text {
  font-size: 56px;
  line-height: 1.07;
  max-width: 496px;
}

.button {
  margin-top: 36px;
}

@media screen and (min-width: 1158px) {
  .page-title {
    padding: 188px 0;
  }
  .button {
    margin-top: 46px;
  }

  .button:hover,
  .button:focus {
    background-color: #404bbf;
  }

  @media screen and (min-width: 1158px) {
    .page-title {
      /* padding: 112px 0; */
      max-width: 1440px;
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-desk-1x.jpg);
    }

    @media screen and (min-resolution: 2x),
      (-webkit-min-device-pixel-ratio: 2x) {
      .page-title {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
          ),
          url(../images/hero-bg-desk-@2x.jpg);
      }
    }
  }
}

/*---------------section 2------------ */

.text-about {
  padding: 96px 0;
}

.section-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.strategy-title-item {
  width: 100%;
}

.text-icon {
  display: none;
}
.title-strategy {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}
.text-strategy {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .section-list {
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .strategy-title-item {
    width: calc((100% - 24px) / 2);
  }

  .title-strategy {
    text-align: justify;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1158px) {
  .text-about {
    padding: 120px 0;
  }

  .section-list {
    gap: 24px;
  }

  .strategy-title-item {
    width: calc((100% - 72px) / 4);
  }

  .text-icon {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title-strategy {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    /* letter-spacing: 0.02em; */

    margin-bottom: 8px;
  }
  .text-strategy {
    font-weight: 400;
    /* font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; */
  }
}

/*---------------section 3------------ */
.team-images {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.title-images {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.title-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.title-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.images-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
  margin: 0 12px;
}

.title-item-team {
  background-color: #fff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
}

.container-position {
  padding: 32px 0;
  text-align: center;
}

.team-icon-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 8px;
}

.team-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-icon {
  fill: #f4f4fd;
}
.team-link:hover,
.team-link:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .images-list {
    gap: 64px;
    column-gap: 24px;
    justify-content: center;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1158px) {
  .team-images {
    padding: 120px 0;
  }
  .title-images {
    margin-bottom: 72px;
  }

  .images-list {
    gap: 24px;
  }
}

/*---------------section 4------------ */
.portfolio-images {
  padding: 96px 0px;
}
.title-images-our {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  justify-content: center;
}
.container-portfolio {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}
.title-item {
  background-color: #fff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-cover-text {
  display: none;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-wrap: wrap;
    gap: 72px;
    column-gap: 24px;
    justify-content: center;
  }
  .title-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-images {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .portfolio-list {
    row-gap: 48px;
  }
  .title-item {
    width: calc((100% - 48px) / 3);
  }
  .title-item:hover .portfolio-cover-text {
    transform: translateY(0);
  }

  .title-item {
    box-shadow: none;
  }
  .title-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .portfolio-cover-wrap {
    position: relative;
    overflow: hidden;
  }
  .portfolio-cover-text {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 32px;
    height: 100%;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
/*---------------footer------------ */

.page-footer {
  background-color: #2e2f42;
  padding: 96px 0;
}
.footer-container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 72px;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}
.logo-part-footer {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 288px;
}

.footer-icon {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.foter-text-icon {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-icon-list {
  display: flex;
  gap: 16px;
}
.bag-footer-link {
  width: 40px;
  height: 40px;
}
.footer-link-icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-icon {
  fill: #f4f4fd;
}

.footer-input-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-subscribe {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.foter-input-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer-ipnut {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  opacity: 0.3;
}
.footer-input::placeholder {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.footer-ipnut::placeholder {
  color: #fff;
  opacity: 0.6;
}

.footer-input-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 0;
  border-radius: 4px;
  border: none;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
}

.icon-sent {
  fill: #fff;
}

.footer-link-icon:hover,
.footer-link-icon:focus {
  background-color: #31d0aa;
}
@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    padding: 0 92px;
  }
  .logo-footer {
    display: inline-block;
  }
  .footer-text {
    max-width: 264px;
  }
  .footer-icon {
    flex-direction: column;
  }
  .foter-input-form {
    gap: 24px;
  }
  .footer-input-list {
    flex-direction: column;
  }
  .footer-ipnut {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .page-footer {
    padding: 96px 15px;
  }
  .footer-container {
    padding: 0 15px;
    gap: 0;
  }
  .logo-footer {
    display: inline-block;
    margin-bottom: 16px;
  }
  .footer-list {
    margin-right: 120px;
  }
  .footer-input-list {
    margin-left: auto;
  }
  .footer-input-btn {
    cursor: pointer;
  }
  .footer-input-btn:hover,
  .footer-input-btn:focus {
    background-color: #404bbf;
  }
}
/*---------------MODAL WINDOW---------*/
